body {
  background-color: firebrick;
}

.box {
  background-image: url(https://cdn.dribbble.com/users/187880/screenshots/9718893/shot-cropped-1579804862937.png);
  margin-top: 25px;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 25px;
  padding: 50px;
  border: dashed black;
  background-repeat: repeat;
  border-radius: 8px;
}

.card {
  background-color: royalblue;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Mono', monospace;
  color: gold;
   margin-top: 25px;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 25px;
  padding: 25px;
  border: dashed black;
  border-radius: 8px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  border-radius: 8px;
  margin-top: 20px;
  margin-bottom: 20px;
}

img:hover {
  transform: scaleX(-1);
}

button {
  margin-top: 10px;
}

#result {
  display: none;
}

input {
  border-radius: 8px;
  text-align: center;
  width: 10%;
}

footer {
  text-align: center;
  font-family: monospace
}

a    {
  color: black;
}